body{
    font-family: Cambria;
}
.baner,
.stopka{
    background-color: #829EB9;
    color: white;
    text-align: center;
    padding: 10px;
}
.kontener{
    display: flex;
}
.lewy,
.prawy{
    background-color: #B3C6D9;
    height: 400px;
    width: 25%;
    padding-top: 100px;
}
.srodkowy{
    background-color: #E0E9F1;
    height: 400px;
    width: 50%;
    text-align: center;
    padding-top: 100px;
}
table {
    border-collapse: collapse;
    width: 80%;
    margin: auto;
    border: 1px solid DimGray;
}
th,
td {
    border: 1px solid DimGray;
    padding: 8px;
    text-align: center;
}
td:hover{
    background-color: SteelBlue;
    color: white;
}
img {
    width: 100%;
    border-radius: 20px;
}

